@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Futura', Helvetica, sans-serif;
  cursor:none;
}

.hiddencursor{
  width: 20px;
  height: 20px;
  border: 2px solid ;
  border-image:linear-gradient(to right,purple 0%, red 100%) 1;
  position: absolute;
  pointer-events: none;
  box-shadow: 0 0 10px red, 0 0 20px purple, 0 0 30px #0ff, 0 0 40px #0ff;
  transition: transform 0.1s, box-shadow 0.1s;
  transform: translate(-50%, -50%);
}